body {

    margin: 0;
    background-color: #2b2b2b;
    padding: 0;
    
}

h1{

    text-align: center;
    color:white;
    padding-bottom: 10px ;
    margin-bottom: 0%;
    
}

.main-game{

    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.genius{

    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';
    grid-gap: 10px;
    border: 1px solid #FFFFFF;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height : 700px;


}

.blue {

    grid-area: blue ;
    background-color: blue;
    border-bottom-right-radius: 100%;

}

.red {

    grid-area: red   ;
    background-color: red;
    border-top-right-radius: 100%;

}

.yellow {

    grid-area: yellow    ;
    background-color: yellow;
    border-bottom-left-radius: 100%;

}

.green {

    grid-area: green ;
    background-color: green;
    border-top-left-radius: 100%;

}

.selected{

    opacity:0.4;
}

.placar{

    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}


@media screen and (max-width: 600px) {

    .genius {

        width: 300px;
        height: 300px;
        
    }



}


